:root {
  --cell-border: grey;
  --cell-bg: #ffffff;
  --grid-bg: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body > div {
  display: flex;
  flex-direction: row;
}

#puzzle-side {
  border: solid blue 2px;
}
#hints-side {
  border: solid red 2px;
  width: 100%;
}

#grid {
  counter-reset: cellnum 0;
  height: 75vh;
  aspect-ratio: 1/1;
  margin: 0;
  background-color: var(--grid-bg);

  display: grid;
  grid-template-columns: repeat(var(--numcols), 1fr); /*--variables set when adding text in js*/
  grid-auto-rows: calc(100% / var(--numrows));
}

.cell {
  position: relative;
  background-color: var(--cell-bg);
  border: solid 1px var(--cell-border);
  caret-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.word-highlight {
  background-color: lightblue;
}

.cell.word-highlight:focus {
  background-color: #FFCE1B;
}

.cell.noninteract {
  background-color: var(--grid-bg);
}

.cell.num::before {
  counter-increment: cellnum;
  content: counter(cellnum);
  position: absolute;
  top: 0;
  left: 0;
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
  bottom: 0;
  border: solid blue 2px;
	/*margin-top: 100%;
	padding-top: 20px;*/
}
footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 15%;
	width: 	70%;
	height: 1px;
}
footer p {
	text-align: center;
	padding: 10px 30px 0 30px;
	font-size: 1rem;
}
